@{
    ViewBag.Title = "Index";
}
@model List<WebSite>

<h2>Index</h2>
<table>
@{
    foreach(var iis in Model)
    {
        <tr>
            <td>@iis.Name</td>
            <td>@iis.Identity</td>
            <td>@iis.PhysicalPath</td>
        </tr>
    
    }
    }
    </table>